<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seaboxdata.sdps.item.mapper.RoleGroupItemMapper">
	<resultMap id="BaseResultMap" type="com.seaboxdata.sdps.item.model.RoleGroupItem">
		<result column="role_id" jdbcType="BIGINT" property="roleId" />
		<result column="group_id" jdbcType="BIGINT" property="groupId" />
	</resultMap>
	<select id="selectRolesByIds" resultType="com.seaboxdata.sdps.item.dto.item.ItemDto">
		SELECT
		sr.`name`,sr.id,rgi.group_id as groupId
		FROM
		sys_role AS sr
		INNER
		JOIN role_group_item AS rgi ON sr.id = rgi.role_id
		<where>
			<if test="itemId != null">
				and rgi.item_id = #{itemId}
			</if>
			<if test="ids != null and ids.size() >0">
				and rgi.group_id in
				<foreach collection="ids" index="index" item="id" open="("
					separator="," close=")">
					#{id}
				</foreach>
			</if>
		</where>
	</select>
</mapper>