<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seaboxdata.sdps.item.mapper.SysRoleMapper">
	<resultMap id="BaseResultMap" type="com.seaboxdata.sdps.common.core.model.SysRole">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="type" jdbcType="CHAR" property="type" />
		<result column="desc" jdbcType="VARCHAR" property="desc" />
		<result column="enabled" jdbcType="BIT" property="enabled" />
	</resultMap>
	<select id="selectRolesByIds" resultType="com.seaboxdata.sdps.item.dto.item.ItemDto">
		SELECT
		sr.id,sr.`name`,uri.user_id as userId
		FROM
		user_role_item AS uri
		INNER JOIN sys_role AS
		sr ON sr.id = uri.role_id
		<where>
			<if test="itemId != null">
				and uri.item_id = #{itemId}
			</if>
			<if test="ids != null and ids.size() >0">
				and uri.user_id in
				<foreach collection="ids" index="index" item="id" open="("
					separator="," close=")">
					#{id}
				</foreach>
			</if>
		</where>
	</select>
</mapper>