<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seaboxdata.sdps.bigdataProxy.mapper.SdpsClusterStatusMapper">
    <resultMap id="BaseResultMap" type="com.seaboxdata.sdps.common.framework.bean.SdpsClusterStatus">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="cluster_status_id" jdbcType="INTEGER" property="clusterStatusId"/>
        <result column="cluster_name" jdbcType="VARCHAR" property="statusCode"/>
        <result column="cluster_show_name" jdbcType="VARCHAR" property="statusName"/>
    </resultMap>

</mapper>