<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seaboxdata.sdps.bigdataProxy.mapper.SdpsHdfsDbTableMapper">
	<resultMap id="BaseResultMap"
		type="com.seaboxdata.sdps.common.framework.bean.SdpsHdfsDbTable">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="cluster_id" jdbcType="BIGINT" property="clusterId" />
		<result column="cluster" jdbcType="VARCHAR" property="cluster" />
		<result column="db_name" jdbcType="VARCHAR" property="dbName" />
		<result column="table_name" jdbcType="VARCHAR" property="tableName" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="category" jdbcType="VARCHAR" property="category" />
		<result column="path" jdbcType="VARCHAR" property="path" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<select id="selectDbOrTablePage"
		resultType="com.seaboxdata.sdps.common.framework.bean.SdpsHdfsDbTable">
		SELECT
		db_name,
		table_name,
		category,
		cluster_id,
		GROUP_CONCAT( path ) AS
		path
		FROM
		(
		SELECT
		db_name,
		table_name,
		CASE
		category
		WHEN 'hive_external'
		THEN
		'hive' ELSE category
		END category,
		cluster_id,
		path
		FROM
		sdps_hdfs_db_table
		<where>
			<if test="request.type != null and request.type != ''">
				AND type = #{request.type}
			</if>
			<if test="request.clusterId != null">
				AND cluster_id = #{request.clusterId}
			</if>
			<if test="request.dbName != null and request.dbName != ''">
				AND db_name = #{request.dbName}
			</if>
		</where>
		) AS a
		GROUP BY
		db_name,category,table_name
	</select>
</mapper>