<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seaboxdata.sdps.bigdataProxy.mapper.SdpsClusterServiceMapper">
    <resultMap id="BaseResultMap" type="com.seaboxdata.sdps.common.framework.bean.SdpsClusterService">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cluster_id" jdbcType="INTEGER" property="clusterId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="host" jdbcType="VARCHAR" property="host"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

</mapper>